/* ===== ESTE BLOCO FAZ UM RESET, OU SEJA GARANTE QUE ALGUNS ATRIBUTOS
ESTEJAM ZERADOS E LIVRES DE ATRIBUTOS PADRÕES DO NAVEGADOR =====*/
* {
    padding: 0;
    margin: 0;
    vertical-align: none;
    list-style: none;
    border: 0;
    text-decoration: none;
    /*/overflow: hidden;*/
  } 
/* == uma tatica muito usada pelos designers para ter certeza que a letra estara disponivel é a de usar 
  o comando de importação desejada através do uso do site 
  https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');

.poly1{
    /* Polygon 1 */
    position: absolute;
    width: 111.31px;
    height: 658.87px;
    left: 641.41px;
    top: -71.86px;
    background: #FFD0C2;
    transform: rotate(83.62deg);
}
.elipsefoto{
    /* Ellipse 1 */


position: absolute;
width: 112px;
height: 112px;
left: 33px;
top: 56px;

background: url(.jpg);
}
.doe{
position: absolute;
width: 181px;
height: 48px;
left: 205px;
top: 81px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
letter-spacing: -0.3px;

color: #2E2E48;
}

